@inject AccountService AccountService
@inject NavigationManager Navigation

@{
    _currentUsername = AccountService.GetCurrentUsername();
}


@using EmptyBlazorApp1.Entities
@using EmptyBlazorApp1.Services
@using Microsoft.AspNetCore.Authorization
<h3>Logined</h3>
<h3>@_currentUsername</h3>

@code {

    string _currentUsername;
}