@page "/logined"
@inject AccountService AccountService
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation

@{
    var isAuthorized = AccountService.IsAuthorized(HttpContextAccessor);
    if (!isAuthorized) {
        Navigation.NavigateTo("/login");
    }
}


@using EmptyBlazorApp1.Entities
@using EmptyBlazorApp1.Services
<h3>Logined</h3>
@if (User is User user) {
    <h3>@user.Username</h3>
}

@code {

    [Parameter]
    public User? User { get; set; }

}